# Slack and GitLab Configuration.

slack:
    team:            your-organization # Team name (example for https://your-organization.slack.com)
    default_channel: general

gitlab_push:
    channel:      general
    push_message: "New push on <%s|%s> (%d Commits):"
    token:        PleaseInsertTheSlackIncomingWebHooksTokenHere
    color:        good

runscope:
    channel:        general
    pass_message:   "»%s« test passed."
    fail_message:   "»%s« test failed."
    token:          PleaseInsertTheSlackIncomingWebHooksTokenHere
    username:       Runscope
    pass_color:     good
    fail_color:     danger
    post_fail_only: true

# @todo : Add others Income/outgoing services parameters

